@{
    ViewBag.Title = "Home Page";
}

<h2>WHEEL!  OF!  FORTUNE!</h2>

<script type="text/html" id="player-template">
    <div class="player-item">
        <p class="player-name" data-bind="text: name"></p>
        <p class="player-winnings" data-bind="text: winnings"></p>
    </div>
</script>
<div class="player-wrapper" data-bind="template: { name: 'player-template', foreach: players }"></div>

<script type="text/javascript" language="javascript" src="@Url.Content("~/signalr/hubs")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/game.js")"></script>